html, body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

.planner-header {
  background-color: #272727;
  position: relative;
  width: 100%;
  display: flex;
  padding: 0.8em;
  flex-direction: row;
  box-shadow: 0 2px 10px rgba(39, 39, 39, 0.5); }
  .planner-header .header-text {
    margin-left: 5.5em; }
    .planner-header .header-text h1 {
      font-family: "Roboto", sans-serif;
      text-align: left;
      color: #fff; }
    .planner-header .header-text h2 {
      font-family: "Open Sans", sans-serif;
      color: #e7e7e7; }
  .planner-header .logo {
    position: absolute;
    top: 0;
    left: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("http://go.okstate.edu/sites/go.okstate.edu/themes/responsive_osu_main_page/images/logo-banner.png");
    width: 100px;
    height: 120px;
    font: 0/0 a; }

.course-wrapper {
  margin-top: 3em; }
  .course-wrapper .course-container {
    margin-top: 1em;
    box-shadow: 0px 0px 2px rgba(39, 39, 39, 0.5);
    border-radius: 2px;
    width: 100%;
    max-width: 800px;
    height: 300px;
    padding: 0.5em 1em;
    position: relative; }
    .course-wrapper .course-container h2 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem; }
    .course-wrapper .course-container ul {
      text-align: center;
      list-style: none;
      margin: 0; }
      .course-wrapper .course-container ul li {
        margin-top: 0.8em;
        line-height: 2rem;
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem; }
    .course-wrapper .course-container button {
      position: absolute;
      right: 1em;
      bottom: 0; }

.orange {
  background-color: #F15E11;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(39, 39, 39, 0.5);
  transition: all 0.3s ease; }
  .orange:hover {
    background-color: #e5580d !important;
    box-shadow: 0 10px 10px -5px rgba(39, 39, 39, 0.5);
    transform: translate(0, -2%); }

.table-container {
  margin-top: 2em; }
  .table-container h2 {
    padding: 0.5em 0.2em;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem; }
  .table-container .dropdown-container label {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.2rem; }
  .table-container .dropdown-container select:focus {
    outline: none !important; }
